html, 
body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	color:white;
	background-color: white;
}


header {
	position: fixed;
	width: 100%;
	top: 0;
	height: 1000px; 
	float: center; 
	background-color: black;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	overflow: auto;
	background: url(img/road_1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	
}

header h1 {
    position: relative;
	top: 20px;
	left: 620px;
    width: 100%;
}

header h2 {
	position: relative;
	top: 100px;
	left: 650px;
	border-left-width: 100px;
	bottom: 15px;
	font-size: medium;
	float: center;
	
}

header div.mark {
    position: fixed;
    left: 20px;
}

#menu {
	position: center;
	color:white;
	line-height: 50px; 
	margin:0;
	text-align: center;
	text-anchor: white;
	float: initial;
}

#menu > ul > li {
	width:370px;
	position: center;
	text-align: center;
	color: white;
	
}

#menu > ul > li > ul {
	width:370px;
	display:none;
	position: none;
	font-size:14px;
	text-align: center;
	color: white;
}

#menu > ul > li:hover > ul {
	display:block;
	color: white;
}

#menu > ul > li > ul > li:hover {
	background:rgba(220, 220, 220, 0.7);
	transition: ease 1s;
	color: white;
}

ul li{
	list-style: none;
	float: left;
	color: white;
}

section {
	width: 100%;
	float: left; 
	height: 3000px;
	color: gray;
}

#ctt {
	padding: 20px;
	margin: 20px;
	font-size: 20px;
	font: 1em 'RobotoMono';
	background-color: white;
	color: black;
}

#pic{
	text-align: center;
}

hr {
	background-color: grey;
}

#intro {
	text-align: center;
}

#move {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
	float: left;
	text-align: center;
}

table {
	text-align: center;
	position: center;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family: 'Roboto Mono', monospace;;
    src: url(font/RobotoMono-Medium.ttf) format('truetype');

}
